<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <title th:text="${appName}">title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Android -->
    <meta name="theme-color" content="#00806b">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#00806b">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#00806b">


    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
    <!--<link rel="stylesheet" href="/css/style.css" />-->

    <!--<link-->
            <!--rel="stylesheet"-->
            <!--href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
            <!--integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
            <!--crossorigin="anonymous"-->
    <!--/>-->
</head>
<body>
    <div style="display:none;" id="loggedInUser" th:text="${#authentication.name}">user</div>
    <div>
        <em>User: <span th:text="${#authentication.getName()}">user</span></em>
        <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <p>You have admin privileges</p>
        </div>
        <div sec:authentication="name">
            The value of the "name" property of the authentication object should appear here.
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            This will only be displayed if authenticated user has role ROLE_ADMIN.
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>

    <div id="react"></div>

    <script src="built/bundle.js"></script>
</body>
</html>
